@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,800;6..12,1000&display=swap');

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 3rem);
    overflow: hidden;
}

.auth-title{
    font-weight: 900;
    font-size: 3rem;
    font-family: 'Nunito Sans', sans-serif;
}

.opened {
    background-color: #1d59a1;
    color: #fff;
    width: 150%;
    animation: open 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.closed {
    background-color: #fff;
    width: 50%;
    animation: close 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.opened form, .closed form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.opened form input{
    border: 1px solid #fff;
    border-radius: 5px;
    outline: 0;
    width: 10rem;
    height: 2rem;
    background-color: #1d59a1;
    color: #fff;
    transition: all 0.5s ease-in-out;

}

.closed form input{
    border: 1px solid #1d59a1;
    border-radius: 5px;
    outline: 0;
    width: 10rem;
    height: 2rem;
    background-color: #fff;
    color: #1d59a1;
    transition: all 0.5s ease-in-out;

}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
}

@keyframes open {
    0% {
        width: 50%;
    }
    100% {
        width: 150%;
    }
}

@keyframes close {
    0% {
        width: 150%;
    }
    100% {
        width: 50%;
    }
}

.login{
    position: relative;
}

.bola{
    position: absolute;
    width: 350px;
    height: 350px;
    border-radius: 100%;
    right: -9rem;
    transition: all 0.5s ease-in-out;
}

.bola:not(:last-child){
    top: -13rem;
    transform: skew(20deg);

}

.bola:last-child{
    bottom: -10rem;
    transform: skew(20deg);
}



.azul{
    background-color: #1d59a1;
}

.branco{
    background-color: #fff;
}

.auth-form-data{
    display: flex;
    flex-direction: column;
}

.error-handler{
    height: 2rem;
}

#error-login, #error-register{
    display: none;
    width: 10rem;
    text-wrap: wrap;
    color: red;
}