@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,800;6..12,1000&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}

.header{
    display: flex;
    align-items: center;
    background-color: #1d59a1;
    padding-left: 2rem;
    height: 3rem;
}

.store-title a, .header-itens li a{
    text-decoration: none;
    color: #fff;
}

.header-itens {
    display: flex;
    list-style: none;
    gap: 1rem;   
}