@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap')

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
};

@keyframes containerDown {
    0% {
      height: 66.666667%;;
    }
    100% {
      height: 0;
    }
}

@keyframes containerUp {
  0% {
    height: 0;
  }
  100% {
    height: 66.666667%;;
  }
}


@keyframes showUp {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showOff {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes showPopUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes closePopUp {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes sideNavEnter {
    0%{
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
}

.close {
  animation: containerDown 1s ease-in-out;
}
.open {
  animation: containerUp 1s ease-in-out;
}

.show{
  animation: showUp 2s ease-in-out;
}
.showoff{
  animation: showOff 2s ease-in-out;
}

.showPopUp{
  animation: showPopUp 1s ease-in-out;
}
.closePopUp{
  animation: closePopUp 1s ease-in-out;
}

.sideNavEnter{
  animation: sideNavEnter 0.24s ease-out;
}